<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDBConnection"
             connectionString="Server=0.0.0.0; Database=xxxxx; User Id=xxxxx; Password=xxxxx; TrustServerCertificate=true"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>